---
layout: layouts/base.njk
title: All Opportunities
---

<h1>All Opportunities</h1>

<ul>
{% for item in collections.all %}
  {% if item.url and (item.url.indexOf('/opps/') != -1) %}
    <li>
      <a href="{{ item.url }}">{{ item.data.title or item.fileSlug }}</a>
    </li>
  {% endif %}
{% endfor %}
</ul>
